*{
  box-sizing: border-box;
}
.flag{
  float:right;
  margin: 10px;
}
.coat{
  float: left;
  margin: 10px;
}
.h3{
  background-color: aquamarine;
  color: blueviolet;
  float: left;

}
.h1{
float: none;
color: brown;
}